span{
    color: #8bdfc9;
    display: inline-block;
}


h1{
    color: gold;
    text-align: center;
    background-color:ghostwhite ;
    margin: auto;
}
tr{
    background-color: #e3f1fa;

}
table{

    text-align: center;
}
